@use "../../styles//sass/variables" as v;

.parentItem {
  color: #fff;
  .content {
    padding-left: 4rem;
    padding-right: 1.8rem;
    font-weight: bold;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      background-color: v.$gray1;
    }
  }
}

.parentItemActive {
  .content {
    background-color: v.$gray4;
  }

  .childrenList {
    list-style-type: none;

    li{
      a{
        padding-left: 6rem;
      }
    }
  }
}

.childItem {
  height: 43px;

  &:hover {
    background-color: v.$gray1;
  }
}

.link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding-left: 4rem;
}
.linkActive {
  background-color: v.$primary;
}

.linkContent{
  display: flex;
  align-items: baseline;
  gap: 1rem;
}