.currencies {
  max-width: 820px;
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.action {
  margin-top: 10px;
  padding-top: 40px;
  max-width: 820px;
  padding-left: 60px;

  .button {
    border-radius: unset;
    font-weight: bold;
    display: block;
    @media (min-width: 1100px) {
      margin-left: auto;
    }
  }
}
