.posCategory {
  background-color: #34363b;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
